[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/preetithakur
[access "refs/for/refs/*"]
	read = group user/preetithakur
	push = group user/preetithakur
	label-Code-Review = -2..+2 group user/preetithakur
	label-Verified = -1..+1 group user/preetithakur
	rebase = group user/preetithakur
	removeReviewer = group user/preetithakur
	submit = group user/preetithakur
[access "refs/heads/*"]
	read = group user/preetithakur
	create = group user/preetithakur
	push = +force group user/preetithakur
	pushMerge = group user/preetithakur
[access "refs/tags/*"]
	push = +force group user/preetithakur
	pushTag = group user/preetithakur
	pushSignedTag = group user/preetithakur
